.dataset-item::after{
  content: "_________";
}

.homepage .dataset-item::after{
  position: relative;
  top: -5px
}

.dataset-item{
  border-bottom: none;
  margin-bottom: 0px;
}

.dataset-item:last-child::after{
  content: "";
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
  background-color: transparent;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(92, 178, 209, .8);
  font-family: "Open Sans",sans-serif;
  font-weight:600;
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(92, 178, 209, .8);
  background-color: rgba(35, 70, 82, 0.9);
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: white;
  background: transparent !important;
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(48, 48, 48);
  color: white;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(74, 74, 74);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.masthead a{
  color: rgba(92, 178, 209, .8);
  font-family: "Open Sans",sans-serif;
  font-weight:400;
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */
body {
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  background: url("TDW-BG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a{
  color: rgba(92, 178, 209, .8);
  font-family: "Open Sans",sans-serif;
  font-weight:600;
  font-size: 10pt;
}

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero {
  border: none;
  background: none;
}
.box {
  border: none;
}

.updates{
}

/* Change the colors of the "Search Your Data" box. */
.homepage .module-content {
  color: rgb(68, 68, 68);
}

.homepage .module-shallow .module-content {
  margin-bottom: -15px;
}

.homepage .module-search .search-giant input {
  border-color: rgb(204, 204, 204);
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: none;
}

.homepage .search-giant{
  margin-top: 24px;
  z-index: 2;
}

.homepage .search-form{
  border-bottom: none;
  z-index: 2;
  margin-top: -24px;
}

.homepage .search-form .search-input.search-giant input {
  padding: 15px;
  font-family: "Open Sans",sans-serif;
  font-weight:300;
}

/* Change the background color of the "Popular Tags" box. */
.homepage .tags {
  background-color: rgb(61, 61, 61);
}

.homepage .module-search {
  padding: 0px;
  width: 654px;
  margin-left:15%;
  margin-right:15%;
  background: transparent;
  color: black;
}

.search-form .search-input.search-giant button i {
  font-size: 20px;
}
.search-form .search-input.search-giant button {
  margin-top: 11px;
  top: 0;
}

.homepage .module-heading{
  padding-bottom: 14px
}

.homepage .module:first-child .module-heading{
  border-top: 1px solid #DDD;
}

.homepage h3.main_search{
  font-family: "Open Sans",sans-serif;
  font-weight:300;
  font-size: 16pt;
  margin-top: 150px;
  padding-left: 285px;
}

.homepage p.main_search{
  font-family: "Open Sans",sans-serif;
  padding-left: 400px;
}

[role="main"] {
/*  border-top: 1px solid rgb(204, 204, 204);
  background: url("../../../base/images/background-tile.png"); */
  background: transparent;
}

.tdw_theme_color{
  color: rgba(92, 178, 209, .8);
}

.dataset-heading a{
  color: rgba(92, 178, 209, .8);
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */

/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small,
.site-footer a {
  color: rgb(104, 104, 104);
  background-color: white;
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.6em;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
}

.footer-links, .attribution{
  width: 100%;
  text-align: center;
}

.attribution{
  padding-top: 20px;
}

/* ======= TDW ======= */

.tdw-title a{
  color: black;
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
}

.module-categories{
  border: 1px solid rgb(204, 204, 204);
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  text-align: center;
  color: rgba(92, 178, 209, .8);
  height: 30px;
  line-height: 32px;
  margin-top: -58px;
  margin-left: 350px;
}

circle.search-circle{
  stroke: rgb(204, 204, 204);
  stroke-width: 1;
  fill: white;
}

#search-circle-box{
  float: left;
  z-index: 1;
}

#search-input-box{
  float: right;
  overflow: hidden;
  width: 559px;
  margin-top: 24px;
  margin-left: -23px;
  z-index: 2;
}

.categories-hidden { 
  margin-left: 50px;
  margin-top: -360px;
  width:450px;
  z-index: 1;
  padding-bottom: 730px;
  transition:all .5s linear;
  -webkit-transition: all .5s;
  -moz-transition: all .5s linear;
}

.categories-unhidden{ 
  margin-left: 50px;
  margin-top: -31px;
  width:450px;  
  padding-bottom: 600px;
  z-index: 1;
  transition:all .5s linear;
  -webkit-transition: all .5s;
  -moz-transition: all .5s linear;
} 

.homepage .media-item{
  width:100px;
  height:100px;
}

.homepage .media-image{
  max-width: 50px;
  max-height: 50px;
  margin-left:25%;
}

.homepage .media-grid{
  border-width: thin;
  border-color: rgb(204, 204, 204);
  background: white;
}


.categories-heading{
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1em;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.categories-count{
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1em;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  -moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  margin-left: 25%;
  margin-right: 25%;
}

#main_search_bar.search-notshifted{
  transition:all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
}

#main_search_bar.search-shiftedup{
  margin-top: -200px;
  z-index:2;
  transition:all .5s linear;
  -webkit-transition: all .5s;
  -moz-transition: all .5s linear;
}

#newsFixedLocation{
  position: absolute;
  top: 550px;
  left: 10%;
  right: 10%;
}

